@model OrderAndInvoicingSystem3.Models.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Order_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Scheduled_del_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Scheduled_del_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total_order_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total_order_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total_GST)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total_GST)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_Master.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_Master.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
